*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(https://lh3.googleusercontent.com/pw/AP1GczPl_kJaPFPVBeOrILaKYIf65eIV8OCGqLxEtxGJ3etRrn_za5GWf219Qdl9QwZaTflH3rR702h-GQYRKf3NJSM1Dgx_cVaalETS9WY4krmb8tg03HLVONvPJ3qxPpEFGJV-mSsnX5MwSLAXsBUppOg7J0yEJoILBN0qlBS2BXzGcpRlOcm3wxhrN8wq4o1VtkuAtVejq2mU2gFvCTjqaFfSgEV4gu24XIFHWsVR_xJRXwTSp6vs722V2LqhsxgkBcACdHL2BgXjbmaws626WVHpag1r7F6JmVJDEdBSEyyHohpJSqYBst1uSwdvolsQQB5oOd_VTphuAdJn-Jy_BEDJzt5yT83vnOvAMFrkQEWiLdHnL75-qaTVmqB1SLVt2ArJCRLyJcXSV6myXitcfwqFffQW1ZzSYhxJAztoANd53_yLhBs0O-2BRFe7HwoRX71OhYpLHrNwGbrfnEfVggoWrftoCCzcnQoam3It1X00cm7Iyt0ka0PIAlqHHRw1Flbd4P-h86NN84gcSxURzojGXqNlQDx_ZlgnQFTiD6csenvGIGXqPxQVjUW7jzzF8Y48O7RaXTYwDbCOTiitRAFYBnPd2pzawxwuCmjaQEpCOW6HVdjOTtfM074sR8XeCRjAjo2pZ3oQGxMfynAmPyuWYNG6TLM-VWJvkcNaDWLOqFdyYiUIwVApL1OymK8M8uCTJgU5Fz6gq_zumSM_hYG_2K7owzHI1KKl4VH28e6MTvaazwg30oNgX_4S2V53yxORRp72R7-QZ6zeytP4L8nhnr7MJfQ7B1ScgN-JxW9z6fcQWkAMQgfdtURydO_5FyVNvNDEVsY8_7n4bU8SmX5VFwEIsQnz4_fS6gbMUHrCS8e8cvgO-UACyN999dhpyJTqh3Df8pj017fDDjGM056mSGk2WLCoPHUGr4_jiLGxmzedLFFxP9iUtclM5CddTPT--jrVgqEH6Q7xg47TPgWcJ3IvLQ-UQMndaAGLo8jET9VHig%3Dw1032-h1376-s-no?authuser%3D0);
  background-size: cover;
  /* idk  */
}

h1{
  background-color: black;
  color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



.choices{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  gap: 4rem;
}

#rock:hover{ opacity: 0.5;}
#paper:hover{ opacity: 0.5;}
#scissors:hover{ opacity: 0.5;}
#msg:hover{ opacity: 0.5;}

#rock{
  background-color: brown;
  color: white;
  font-size: 1.5rem;
  height: 100px;
  width: 100px;
   display: flex;
  align-items: center;
  justify-content: center;
   border-radius: 50%;
}

#paper{
  background-color: grey;
  color: white;
  font-size: 1.5rem;
  height: 100px;
  width: 100px; display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#scissors{
  background-color: blue;
  color: white;
  font-size: 1.5rem;
  height: 100px;
  width: 100px; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.score-board{
   display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin-top: 5rem;
  margin-left: 4rem;
  font-size: 2rem;
  }

.msg-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

#msg{
  background-color: black;
  color: white;
  font-size: 1.2rem;
  height: 4rem;
  width: 10rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}