*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(https://lh3.googleusercontent.com/pw/AP1GczOCVRW9pxjFx2AANd34RgNRWBkbUKEl8vULtEFpUSw49SE6nq73xMLg9Pj8N5u5OpYWy-wqgEvEM8wYMqmYZ5KxMbtFkGPXqzOHzqTSqxgT86Nc2L-EJfQmN2v-GRNiY6sP7UtpuefAL6n5Ye4yP5cjN-8DIvBWZfxV66pRFkCcEwXIn_Jkt-INW5zaefMzz0JK8prdHpXeay-0-td1XqyepqT9_4lcrJjPUMAvgkO-eUi0yEmOcmcBZvxZFdrE9-LjVk4wWitMkS7NYoq1Bc80vRwBCrwdoinJfpMJhC_-JUYPJLQNGTPBLb2VgvyEAE_PxlTD-62U5a-aUFshZLW6Szt-WHQWeImwQLQx_7dAAcrCDJlmlXrgkewlwEnz8Mt4-4oYu5MwfHqgtnNfQLTRmR2oP8trww8iwbgh4bm1n2qONF-NYcQUAsUI6fZl5bqZFxaR3uVX2Ogyeo214dcSn2WfkJBJ35XJNIpnmWTxE6cjYNe_-NIZg_6UpcJMS0wYwLwmxt5fHrMecWUDKoWo7lUgcO4Q4_vrRIZrj9nZpDtRIhKqALiW64JWtARRiVx9--Un8jV0aZKDNaxrv1Cm63sJFepdfJJoC6ljEIuLCrLnXUi-9I4kc3QWkf7Hi0hUsFhGFnA3jBDD-AEt61t13kGaxR920xDcYCjh1CeMAqRgTnq2sb-A56vWdR35kGSMVcDil1xdw5HPE0Xu88-zdsWriCYmc5gF8XJdiCDeJH9oBq4vED08tAFK55V404IcAHa1x-eMx-KWKow7GmeRDIw2PErFBkVISopHBqTZBSLcTv0jPTwcLJFlxijRedWvtE2rW8hJ9637EVSv33NyS3wmnJb14vz6WQxPxeI0lrLNfmtCAQOy4cz0rYEshwK16K3yI8IqvuvFa6navz3sqtmJ1CxIBJ7MigWqTvZrdvnzV7g7yOh17cOmMFZxgtvh%3Dw1065-h1331-s-no?authuser%3D0);
  background-size: cover;
}

h1{
  background-color: black;
  color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



.choices{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  gap: 4rem;
}

#rock:hover{ opacity: 0.5;}
#paper:hover{ opacity: 0.5;}
#scissors:hover{ opacity: 0.5;}
#msg:hover{ opacity: 0.5;}

#rock{
  background-color: brown;
  color: white;
  font-size: 1.5rem;
  height: 100px;
  width: 100px;
   display: flex;
  align-items: center;
  justify-content: center;
   border-radius: 50%;
}

#paper{
  background-color: grey;
  color: white;
  font-size: 1.5rem;
  height: 100px;
  width: 100px; display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#scissors{
  background-color: blue;
  color: white;
  font-size: 1.5rem;
  height: 100px;
  width: 100px; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.score-board{
   display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin-top: 5rem;
  margin-left: 4rem;
  font-size: 2rem;
  color: white;
  }

.msg-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

#msg{
  background-color: black;
  color: white;
  font-size: 1.2rem;
  height: 4rem;
  width: 10rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}